.mainJob {
  background: white;
  padding-bottom: 18px;
  border-bottom: 1px solid lightgrey; }
  .mainJob > ul {
    width: 1200px;
    height: 125px;
    background-color: white;
    margin: 10px auto 0;
    display: flex;
    justify-content: space-around; }
    .mainJob > ul li {
      text-align: center; }
      .mainJob > ul li a {
        width: 100px;
        height: 100px;
        display: block;
        padding-top: 100px;
        background-image: url("../images/repair/windowsIcon.png");
        background-repeat: no-repeat; }
        .mainJob > ul li a span {
          font-size: 16px;
          color: black; }
    .mainJob > ul li:nth-child(1) > a {
      background-position: 0 0; }
    .mainJob > ul li:nth-child(2) > a {
      background-position: -100px 0; }
    .mainJob > ul li:nth-child(3) > a {
      background-position: -200px 0; }
    .mainJob > ul li:nth-child(4) > a {
      background-position: -300px 0; }
    .mainJob > ul li:nth-child(5) > a {
      background-position: -400px 0; }
    .mainJob > ul li:nth-child(6) > a {
      background-position: -500px 0; }
    .mainJob > ul > li > a:hover {
      text-decoration: none;
      cursor: pointer; }
      .mainJob > ul > li > a:hover span {
        color: #009fee; }

.menuList {
  background: #f5f5f5;
  padding: 33px 0 17px;
  border-bottom: 1px solid lightgrey; }
  .menuList menu {
    width: 1200px;
    margin: auto; }
    .menuList menu ul {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      text-align: center; }
      .menuList menu ul li {
        width: 222px;
        height: 40px;
        background-color: white;
        border: 1px solid lightgrey;
        margin: 0 8px 16px;
        line-height: 40px;
        border-radius: 5px;
        font-size: 16px;
        box-sizing: content-box;
        cursor: pointer; }
      .menuList menu ul li:hover {
        border-color: #009fee; }

.borrow {
  width: 1200px;
  margin: 20px auto 0; }
  .borrow > form {
    margin-bottom: 20px;
    width: 960px; }
    .borrow > form input {
      width: 520px;
      min-width: 53%; }
  .borrow .ajaxLeft {
    width: 960px; }
    .borrow .ajaxLeft #ajaxLi {
      margin-top: 1px; }
      .borrow .ajaxLeft #ajaxLi li {
        height: 133px; }
        .borrow .ajaxLeft #ajaxLi li hr {
          margin-top: 17px; }
        .borrow .ajaxLeft #ajaxLi li .mainInfo {
          width: 470px; }
    .borrow .ajaxLeft .page {
      margin-top: 5px; }
  .borrow .ajaxRight {
    width: 228px;
    position: relative;
    top: -60px;
    left: 0; }
