.banner{
  & > div {
      height: 392px;
    transition: 1s;

    & > div {
      height: 392px;
      transition: 1s;

    }

  }
}


.malfunction{
  width: 100%;
  background:white;

  h3{
      text-align: center;
      margin-top: 6px;
    font-size: 22px;
  }
  ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1200px;
    margin: 34px auto 0;
    padding-bottom: 0;
    li:nth-child(1)>b{background-image: url("../images/repair/malfunction0.png")}
    li:nth-child(2)>b{background-image: url("../images/repair/malfunction1.png")}
    li:nth-child(3)>b{background-image: url("../images/repair/malfunction2.png")}
    li:nth-child(4)>b{background-image: url("../images/repair/malfunction3.png")}
    li:nth-child(5)>b{background-image: url("../images/repair/malfunction4.png")}
    li:nth-child(6)>b{background-image: url("../images/repair/malfunction5.png")}
    li:nth-child(7)>b{background-image: url("../images/repair/malfunction6.png")}
    li:nth-child(8)>b{background-image: url("../images/repair/malfunction7.png")}
    li:nth-child(9)>b{background-image: url("../images/repair/malfunction8.png")}
    li{
      width: 11%;
      text-align: center;
      background: lightyellow;
      cursor:pointer;
      position: relative;
      overflow: hidden;
      height: 163px;
      b{
        display: block;
        margin:0 auto 16px;
        width: 68px;
        height: 68px;
        background-position: center ;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &>span{

        color: grey;
        font-size: 18px;
        line-height: 27px;
        &>span{
          display: none;
          position: absolute;
          top: 155px;
          left: 40px;
          background: #f4f4f4;
          border: 2px solid lightgrey;
          width: 60px;
          height: 60px;
          transform: rotate(45deg);
        }
      }
    }
    :hover{
      span{
        display: block;
      }
    }
  }
  section{
    background: #f4f4f4;
    div{
      position:relative;
      width: 1200px;
      margin: auto;
      padding: 40px 0;
      display: none;
      a{
        background: white;
        display: inline-block;
        line-height: 48px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        width: 220px;
        height: 50px;
        text-align: center;
        margin: 8px;
        font-size: 16px;
        color: black;
      }
    }
  }
}


.carousel{
  background: #F6F6F6;
  padding-bottom: 30px;
  h3{
    margin: auto;
    text-align: center;
    padding:  auto;
    line-height: 105px;
    font-size: 30px;
  }
  #james{
    width: 1100px;
    margin: auto;
    padding-top: 8px;
    //overflow: visible;
    //position: relative;
    &>div:first-child{
      &>div{
        &>ul{
          padding-top: 5px;
          padding-bottom: 5px;
          width: 940px;
          margin: auto;
          display: flex;
          justify-content: space-around;
          flex-wrap: nowrap;
          li{
              width: 203px;
            height: 275px;
            box-shadow: 0 0 5px 5px #e2e2e2;
          }
        }
      }
    }
  }

  .swiper-button-next ,.swiper-button-prev{
    margin-top: 13px;
    background-color: rgba(255, 255, 255, 0.45);
    height: 275px;
    top: 0;
    width: 80px;
    &:hover{
      background-color: white;
    }
  }
  .swiper-button-next{
    right: 0px;
  }
  .swiper-button-prev{
    left: 0px;
  }
  .swiper-button-disabled{
    pointer-events: visiblepainted ;
    &:hover{
      background-color: white;
      opacity: 1;
    }
  }
}


.overFooter{
  border-top: 1px solid lightgrey;
  div:first-child{
    width: 100%;
    background: url("../images/repair/overFooter.png") center no-repeat;
    height: 218px;
  }
  div:last-child{
    width: 100%;
    background: url("../images/repair/ourTeam.jpg") center no-repeat;
    background-color:  #08A1EB;
    height: 392px;
  }
}
footer{
  margin-top: 0;
  border: none;
}